body {
  padding: 20px;	
}

.gameCentered {
  width: 600px;
  text-align: center;  	
}

.inProgress {
  color: blue;  	
  font-family: 'sans-serif';
  font-size: 40pt;
}

.button {
  font-family: 'sans-serif';
  font-size: 14pt;
}
